<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      
        <ul class="nav">
          <li><%= link_to "首页", root_path %></li>
          <li><%= link_to "帮助", help_path %></li>
          <li><%= link_to "登录", '#' %></li>
        </ul>
      
    </div>
  </div>
</header>
